extends layout

block content
    form(method='POST', action='/post/createNew')
            label(for='description') Description:
            textarea(rows="4", cols="80", name='description')
        div
            label(for='blogger') Blogger:
            input(type='text', name='blogger')
        div
            input(type='submit', value='Create!')