extends layout

block content
    form(method='POST', action='/user/createNew')
        div
            label(for='firstname') First Name:
            input(type='text', name='firstname')
        div
            label(for='lastname') Last Name:
            input(type='text', name='lastname')
        div
            label(for='username') Username:
            input(type='text', name='username')
        div
            label(for='password') Password:
            input(type='password', name='password')
        div
            input(type='submit', value='Create!')