extends layout

block content
    script(src='/controllers/PlaylistController.js')
    div(class="container")
        center
            div(class="jumbotron")
                h1 EDMTL
                p Where we share our favorite songs
                a(class="btn btn-primary" style="margin: 10px;") Facebook
                a(class="btn btn-default" style="margin: 10px;") Twitter
                a(class="btn btn-success" style="margin: 10px;") Instagram
            div(class="container" data-ng-controller="PlaylistController")
                p {{songs}} and {{potato}}
                a(class="btn btn-info" onclick="playAll( '#{songArray}' )") Play All
                div(class="row")
                    div(class="col-md-9 songlist")
                        each post in postArray
                            div(class="song" onclick="loadSong( '#{post.url}' )")
                                div(class="pull-left") Posted by: #{post.blogger}
                                div(class="pull-right") #{post.date.toString().substring(3,16)}
                                br
                                center(style="text-align: justify") #{post.description}