doctype html
html(ng-app)
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery.js')
    script(src='/js/angular/angular.min.js')
    script(src='/js/bootstrap.js')
    script(src='https://w.soundcloud.com/player/api.js')
    script(src='https://connect.soundcloud.com/sdk.js')
  body
    block header
        div(class="navbar navbar-inverse navbar-static-top")
            div(class="container")
                div(class="navbar-header")
                    a(href="/")
                        img(src="/css/images/logo.png" alt="EDMTL" class="navbar-brand")
                    button(class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                div(class="collapse navbar-collapse navHeaderCollapse")    
                    ul(class="nav navbar-nav navbar-right")
                        li
                            input(type="search" ng-model='search' placeholder="Search songs, artists or albums" class="navbar-btn" style="width: 400px")
                        li 
                            a(href="#") Configure feed
                        li 
                            a(href="#") Playlists
                        li 
                            a(href="#") My Account
                        li 
                            a(href="#") Signout
    block content
    block footer
        div(class="navbar navbar-inverse navbar-fixed-bottom")
            div(class="container")
                center
                    iframe(id="soundcloud_widget" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/39804767" width="840" height="60" frameborder="no")
        div(style="height: 70px")