extends layout

block content
    form( method="post")
        h1 Hello!
        label Username 
        input(type="text", name="user", id='user-tf').span4.required
        label Password
        input(type="password", name="pass", id='pass-tf').span4.required
        button(type="submit")
            i
            | Sign in
        label#remember-me.checkbox Remember Me
            input(type="checkbox", checked='checked')
        div
        hr
        div
            a(href='#')#forgot-password Forgot Your Password?
            a(href='/signup')#crete-account Create An Account

    include modals/alert
    include modals/lost-password

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/views/login.js')
    script(src='/js/controllers/loginController.js')
    script(src='/js/form-validators/loginValidator.js')
    script(src='/js/form-validators/emailValidator.js')