extends layout

block content
    form(method='POST', action='/register/createUser')
        div
            label(for='username') Username:
            input(type='text' name='username')
        div
            label(for='password') Password:
            input(type='password' name='password')
        div
            label(for='firstName') First Name:
            input(type='text', name='firstName')
        div
            label(for='lastName') Last Name:
            input(type='text', name='lastName')
        div
            input(type='submit', value='Create!')