
body{
	background-image: url('images/bg.jpg');
  background-attachment: fixed;
  color: #dddddd;
}

input, textarea{
  color: black;
}

.jumbotron{
	margin-bottom: 5px;
  background-color: #222222;
  color: inherit;
  transition: background-color 1s;
}

.songlist{
  padding: 5px;
  margin-bottom: 5px;
  color: inherit;
}
.songlist h1,
.songlist .h1 {
  color: inherit;
}
.songlist p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 200;
}
.songlist > hr {
  border-top-color: #d5d5d5;
}
.container .songlist,
.container-fluid .songlist {
  border-radius: 6px;
}
.songlist .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .songlist {
    padding: 12px 0;
  }
  .container .songlist {
    padding-left: 60px;
    padding-right: 60px;
  }
  .songlist h1,
  .songlist .h1 {
    font-size: 25px;
  }
}

.song{
  border: 1px solid rgba(255, 255, 255, .3);
  padding: 10px;
  background-color: rgba(0,0,0,0);
  transition: background-color .5s;
  margin-bottom: 8px;
}

.song:hover{
  background-color: rgba(0,120,200,.4);
  transition: background-color .5s;
}
.navbar-brand{
  padding: 5px 0 0 15px;
  height: 50px;
  width: 120px;
}